* {
    font-family: "Microsoft YaHei";
    font-weight: bolder;
}
body {
    min-width: 640px;
}
.sp {
    margin-left: 50px;
}
.padding {
    padding-top: 1px;
}
.message p {
    display: inline;
    margin-left: 8px;
}
p,header{
    margin: 0;
}
div {
    margin: 20px 0;
}
header {
    float: left;
    margin-right: 20px;
    height: 750px;
    width: 159px;
    background-color: #65a4fa;
}
h1 {
    margin: 55px 42px;
    color: #fff;
}
h3 {
    margin-bottom: 0;
}
