* {
    font-family: "Microsoft YaHei";
    font-weight: bolder;
}
.sp {
    margin-left: 50px;
}
.message p {
    display: inline;
    margin-left: 8px;
}
h3 {
    margin-bottom: 0;
}
p {
    margin: 0;
}
div {
    margin: 20px 0;
}
